*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #121212;
  --secondary: #282828;
  --secondary-text: #459;
  --accent-color: #459;
  
  --font: Arial, sans-serif;
  --text-color: white;

  --img-size: 600px;
  --card-br-radius: 10px;
}

body{
  font-family: var(--font);
  background-color: var(--primary);
  color: var(--text-color);
}

header, footer {
  padding: 1rem;
  text-align: center;
}

header{
  color: var(--secondary-text);
  background: var(--secondary);
}

footer{
  background: var(--secondary);
}

main{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
  
  
.container{
  max-width: 1300px;
  width: 80%;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.col{
  width: var(--img-size);
  height: 100%;
}